@use "variables" as *;

// Font faces with optimized loading
/* lora-regular - latin */
@font-face {
  font-display: fallback; /* Short block period, then swap, reduces critical path latency */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v37-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lora-v37-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-500 - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lora-v37-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-500italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/lora-v37-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-600 - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lora-v37-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-600italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/lora-v37-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-700 - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v37-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lora-700italic - latin */
@font-face {
  font-display: fallback;
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lora-v37-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
  font-display: fallback; // Short block period, then swap, reduces critical path latency
  font-family: "Rubik";
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url("./../assets/fonts/rubik-v31-latin-regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
